@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Feast of Flesh BB";
  src: url("fonts/FeastofFleshBB-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Feast of Flesh BB";
  src: url("fonts/FeastofFleshBB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.loader {
  border-top-color: theme("colors.blue.500");
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
